* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(109, 109, 207);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

main h1 {
  font-size: 35px;
}

main .content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

main .content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

main .content form h2 {
  font-size: 25px;
}

main .content form input {
  border: 1px solid #fff;
  padding: 5px 10px;
  width: 200px;
  border-radius: 5px;
}

main .content form input:focus {
  border: none;
}

main .content form input[type="submit"] {
  background: rgba(69, 158, 69, 0.61);
  align-self: flex-end;
  padding: 8px 10px;
  font-size: 18px;
  color: #fff;
  border: 2px solid rgba(151, 224, 148, 0.623);
}

main .content form input[type="submit"]:focus,
main .content form input[type="submit"]:hover {
  background: green;
}

main .content section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main .content section .scorestitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

main .content section .scorestitle h2 {
  font-size: 25px;
}

main .content section .scorestitle button {
  background: rgba(69, 158, 69, 0.61);
  align-self: flex-end;
  padding: 5px 10px;
  font-size: 15px;
  color: #fff;
  border: 2px solid rgba(151, 224, 148, 0.623);
}

main .content section .scorestitle button:focus,
main .content section .scorestitle button:hover {
  background: green;
}

main .content section .scores {
  border: 2px solid rgb(60, 163, 211);
  width: 300px;
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 10px;
  box-shadow: 3px 3px 5px rgba(151, 224, 148, 0.623);
}

main .content section .scores li {
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
}

main .content section .scores li:nth-child(even) {
  background: rgba(192, 188, 188, 0.781);
}
